{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'project.edit'|trans }}</h1>

    {{ form(edit_form) }}

    <a href="{{ path('project') }}" class="btn btn-primary">
        {{ 'list.back'|trans }}
    </a>
    {{ form_start(delete_form) }}
    {{ form_errors(delete_form) }}
    {{ form_row(delete_form.submit) }}
    {{ form_end(delete_form) }}
{% endblock %}
