{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'project.list'|trans }}</h1>
    <a href="{{ path('project_new') }}" class="btn btn-primary">
        {{ 'project.create'|trans }}
    </a>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'name'|trans }}</th>
            <th>{{ 'hd'|trans }}</th>
            <th>{{ 'velocity'|trans }}</th>
            <th>{{ 'sprint.time'|trans }}</th>
            <th>{{ 'holidays'|trans }}</th>
            <th>{{ 'client.visits'|trans }}</th>
            <th>{{ 'actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.hd }}</td>
                <td>{{ entity.velocity }}</td>
                <td>{{ entity.sprintTime }}</td>
                <td>{{ entity.holidays }}</td>
                <td>{{ entity.clientVisits }}</td>
                <td>
                    <a href="{{ path('project_show', { 'id': entity.id }) }}"
                       class="btn btn-primary btn-xs">{{ 'show'|trans }}</a>
                    <a href="{{ path('project_edit', { 'id': entity.id }) }}"
                       class="btn btn-warning btn-xs">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
