{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.name }}</h1>
    <a href="{{ path('project') }}" class="btn btn-primary">
        {{ 'list.back'|trans }}
    </a>
    <a href="{{ path('project_edit', { 'id': entity.id }) }}" class="btn btn-primary">
        {{ 'edit'|trans }}
    </a>
    <a href="{{ path('project_calculate_average', { 'id': entity.id }) }}" class="btn btn-warning">
        {{ 'statistics.reload'|trans }}
    </a>

    <a href="{{ path('project_estimate', { 'id': entity.id }) }}" class="btn btn-warning">
        {{ 'estimations.create'|trans }}
    </a>
    {{ form(delete_form) }}

    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'id'|trans }}</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'name'|trans }}</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'hd'|trans }}</th>
                    <td>{{ entity.hd }}</td>
                </tr>
                <tr>
                    <th>{{ 'velocity'|trans }}</th>
                    <td>{{ entity.velocity }}</td>
                </tr>
                <tr>
                    <th>{{ 'sprint.time'|trans }}</th>
                    <td>{{ entity.sprintTime }}</td>
                </tr>
                <tr>
                    <th>{{ 'holidays'|trans }}</th>
                    <td>{{ entity.holidays }}</td>
                </tr>
                <tr>
                    <th>{{ 'client.visits'|trans }}</th>
                    <td>{{ entity.clientVisits }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="col-md-8">
                <h3>
                    {{ 'statistics'|trans }}
                </h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ '1sp'|trans }}</th>
                        <td>{{ entity.avg1sp }}</td>
                    </tr>
                    <tr>
                        <th>{{ '2sp'|trans }}</th>
                        <td>{{ entity.avg2sp }}</td>
                    </tr>
                    <tr>
                        <th>{{ '3sp'|trans }}</th>
                        <td>{{ entity.avg3sp }}</td>
                    </tr>
                    <tr>
                        <th>{{ '5sp'|trans }}</th>
                        <td>{{ entity.avg5sp }}</td>
                    </tr>
                    <tr>
                        <th>{{ '8sp'|trans }}</th>
                        <td>{{ entity.avg8sp }}</td>
                    </tr>
                    <tr>
                        <th>{{ '13sp'|trans }}</th>
                        <td>{{ entity.avg13sp }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2>{{ 'estimations'|trans }}</h2>
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'estimations.hours'|trans }}</th>
            <td>{{ entity.estimationByHours|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>{{ 'estimations.sprints'|trans }}</th>
            <td>{{ entity.estimationBySprints|date('Y-m-d') }}</td>
        </tr>
        </tbody>
    </table>


    <h2>{{ 'issues.list'|trans }}</h2>

    <a href="{{ path('issue_new', { 'projectId': entity.id }) }}" class="btn btn-success">
        {{ 'issue.add'|trans }}
    </a>
    <table class="table">
        <thead>
        <tr>
            <td>{{ 'id'|trans }}</td>
            <td>{{ 'key'|trans }}</td>
            <td>{{ 'time.spent'|trans }}</td>
            <td>{{ 'story.points'|trans }}
            <td>{{ 'sprint'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
        <tr>
            <td>{{ issue.id }}</td>
            <td>{{ issue.issueKey }}</td>
            <td>{{ issue.timeSpent }}</td>
            <td>{{ issue.storyPoints }}</td>
            <td>{{ issue.sprint }}</td>
        </tr>
        {%  endfor %}
        </tbody>
    </table>
{% endblock %}
